body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkgreen;
}

.white_color {
  color: white;
}

.darkorange_color {
  color: darkorange;
}

li {
  list-style-type: none;
}

.site-container {
  min-height: 100vh;
}

main {
  flex: 1; /* Divides the nav, main, and footer sections */
}

.btn-primary,
.btn-outline-primary {
  background-color: #f0c040;
  color: #000000;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}

.product img {
  width: 100%;
  max-width: 400px;
}

.product-info {
  padding: 1rem;
}

.link {
  text-decoration: none;
}

.remove_underline {
  text-decoration: none;
}

.rating span {
  color: #ffc000;
}

.img-large {
  max-width: 100%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* Sidebar */

.navbar-brand {
  font-weight: bold;
}

.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px; /* hides the sidebar by default */
  background-color: #100901;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}

.active-cont {
  margin-left: 240px;
}

.active-nav {
  left: 0;
}

.text-bold {
  font-weight: bold;
}

.margin-b {
  margin-bottom: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #111111;
  color: white;
  text-align: center;
  height: 100px;
}

@media only screen and (max-width: 600px) {
  .center-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 100%;
  }

  .margin-left {
    margin-left: 5rem;
  }

  .big-box {
    width: 20rem;
    height: 3rem;
  }
}

@media only screen and (min-width: 600px) {
  .center-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 100%;
  }

  .margin-left {
    margin-left: 5rem;
  }

  .big-box {
    width: 20rem;
    height: 3rem;
  }
}

@media only screen and (min-width: 768px) {
  .center-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 100%;
  }

  .margin-left {
    margin-left: 6.5rem;
  }

  .big-box {
    width: 30rem;
    height: 3rem;
  }

  .header-box {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .center-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 100%;
  }

  .margin-left {
    margin-left: 3rem;
  }

  .header-box {
    height: 150px;
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .center-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 100%;
  }

  .margin-left {
    margin-left: 8rem;
  }

  .header-box {
    height: 150px;
    width: 100%;
  }
}

@media only screen and (min-width: 1250px) {
  .center-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 100%;
  }

  .margin-left {
    margin-left: 8rem;
  }

  .header-box {
    height: 150px;
    width: 100%;
  }

  .big-box {
    width: 35rem;
    height: 3rem;
  }
}
